<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Кондиционеры Волгоград</title>
    <link rel="stylesheet" href="index.css">
 
</head>
<body>
    <div id="zagalovok">
        Магазин кондиционеров по самым низким ценам в Волгограде! 

    </div>
<div id="katalog"><b>Каталог</b></div>
<div id="profile"><b>Профиль</b></div>
<div id="osnova"><b>Основная часть</b></div>
<div id="kontakti">Наши контакты</div>
</body>
</html>
